
name: Maven

on:
  workflow_call:
    inputs:
      os:
        type: string
        description: OS used to run Maven.
        default: ubuntu-latest

      ref:
        type: string
        description: Branch to check out.
        default: ''

      java:
        type: string
        description: Java version used to run Maven.
        default: 21

      java_distribution:
        type: string
        description: Java distribution used to run Maven.
        default: graalvm-community

      goals:
        type: string
        description: Maven goals to execute.
        default: ''

      check_directory:
        type: string
        description: Directory to check for build execution.
        default: ''

jobs:
  maven:
    name: Maven ${{ inputs.goals }}
    runs-on: ${{ inputs.os }}
    defaults:
      run: { shell: bash }
    steps:
      - name: Check Out
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Up Java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java }}
          distribution: ${{ inputs.java_distribution }}
          cache: maven
      - name: Build Project
        run: ./mvnw --debug ${{ inputs.goals }}
      - name: Check Build
        if: ${{ inputs.check_directory != '' }}
        run: ls -AlF "${{ inputs.check_directory }}"
